<h3><i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
    Computer Build as a hobby</h3> 
<article>
   I build pc not a typical pc bulider,i build like overclockable rig uing unlocked proccessors using higly rated like ddr4 memory on 2400mhz or more it was also overclockable and i bulid both intel and amd platforms as a hard disk using ssd ,PCIe ssd or M.2 NVMe ssd for increasing perfomance
</article>
<h4>Bulid like a nerd</h4>
<article>
    also i can build server grade intel E3, E5,E7 or intel i5 extreme edition i7x or i9x for AMD using threadripper 1900x,1920x or 1950 using solid build motherboard like x299 or x399 
</article>
<h4>Pascal's for graphic</h4>
<article>
    for pascal using for gaming nvidia gtx 10 series or amd rx560,570 or 580 or rx vega 54,64 for graphic rendering using quadro graphic proccessors
</article>
<h3><i class="fa fa-linux fa-2x" aria-hidden="true"></i>Software as a hobby</h3>
<article>
    i am always update with operating system in windows <i class="fa fa-windows fa-lg" aria-hidden="true"></i>  and os x  <i class="fa fa-apple fa-lg" aria-hidden="true"></i> like high sierra 
</article>
<h4>Mobile oprating</h4>
<article>
     iam enthusiast in android <i class="fa fa-android" aria-hidden="true"></i> a to o aka (alpha to oreo) also ios <i class="fa fa-apple" aria-hidden="true"></i> ios 1 to ios 11
</article>