<h3 class="text-center"><i class="fa fa-pencil fa-lg" aria-hidden="true">Skills</i></h3> 
<h4><b>UI/UX</b> DESIGN</h4>
<p>UI/UX involves planning and iterating a site's structure and layout. Once the proper information architecture is in place,
  I design the visual layer to create a beautiful user experience.</p>

<h4>FRONT END DEVELOPMENT</h4>
<p>Front End Development is building out the visual components of a website.Using HTML<i class="fa fa-html5" aria-hidden="true"></i>, CSS<i class="fa fa-css3" aria-hidden="true"></i> , and Javascript<b>&lt;/&gt;</b> , building Single Page Apps 
  (MVC, MVVM) with Angular 4 animations.</p>
