<h3><i class="fa fa-plug" aria-hidden="true"></i>Bachelor Degree in Electrical and Electronics Engineering</h3>
<h4>PROJECT'S</h4>
<h5>APSUG aka (Auto Power Supply Utility Grid using CF-ASDM SolarHome)</h5>
<article>
        In order to reduce the fossil fuel usage and the carbon dioxide emission, the demand for renewable energy (RE), such as solar energy, has been increased rapidly. 
        
       In order to avoid unnecessary energy conversion and to effectively utilize the precious RE ,the dc power system has been proposed 
       
</article>
<h4>AWARDS</h4>
<h5>won second prize in 2014</h5>
<p>A NATIONAL LEVEL TECHNICAL SYMPOSIUM IN P.S.R ENGINEERING COLLEGE SIVAKASI </p>