<div class="col-md-3">           
 <div class="thumbnail">
    <img src="https://cms-assets.tutsplus.com/uploads/users/34/posts/24791/preview_image/html_thumb_400x277.png" alt="">    
  </div>
  <h3 class="text-center"><b>KARTHICK</b></h3>
  <h4><p class="text-center"> Web Developer</p></h4>
  <div class="list-group">
      <a class="list-group-item active" href="#" routerLink="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
      <a class="list-group-item" href="#" routerLink="/portfolio" ><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Portfolio</a>
      <a class="list-group-item" href="#" routerLink="/skill" ><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Skills</a>
      <a class="list-group-item" href="#" routerLink="/hobbies" ><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Hobbies</a>
    </div>
      <ul class="nav navbar-nav">
          <li><a href="https://www.linkedin.com/in/karthick-d-6042a613a" target="_blank" class=""><i class="fa fa-linkedin fa-lg"></i></a></li>
          <li><a href="https://www.meetup.com/members/223561428"><i class="fa fa-meetup fa-lg" aria-hidden="true"></i></a></li>          
          <li><a href="https://github.com/iam-karthick" target="_blank" class=""><i class="fa fa-github fa-lg"></i></a></li>
          <li><a href="https://plus.google.com"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>          
          <li><a href="https://bitbucket.org/iam-karthick" target="_blank" class=""><i class="fa fa-bitbucket fa-lg"></i></a></li>                    
          <li><a href="http://javakarthiklog.blogspot.in"><i class="fa fa-rss fa-lg" aria-hidden="true"></i></a></li>
      </ul> 
</div>