#styles{
    font-family:"Bradley Hand ITC";    
}
.boot{
padding-left: 1cm;
}
.container{
    background-image:url("../image/k.png");
    background-repeat: repeat-y;    
}
.jedi{
    color: white;
}